/* Custom styling for the cards */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 1500px;
    height: 225px;
    margin: 0.5rem;
}

/* Style for large cards */
.card-large {
    width: 350px;
    height: 370px;
}


/* Add custom styling for the spinner */
#loading-spinner .spinner-border {
    width: 3rem;
    height: 3rem;
}

/* Dark mode styles */
html.dark-mode {
    background-color: #333333;
    color: #ffffff;

}

html.dark-mode .card {
    background-color: #444444;

}

#mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
}

#card-size-toggle{
    position: absolute;
    top: 50px;
    right: 0;
}

#filter-toggle{
    position: absolute;
    top: 100px;
    right: 0;
}